body {
    font-family: Arial, sans-serif;
    background-color: #7986cb;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    background-color: #fff;
    margin: 20px 0;
    padding: 10px 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px #333f33;
    width: 350px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #5c6bc0;
}

.conteiner--item{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.item--label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.item__textarea {
    resize: vertical;
    min-height: 80px;
}

/* css de la imagen del evento */
.item__image-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px dashed #5C6BC0;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    background-color: #eef;
    cursor: pointer;
    transition: background 0.3s ease;
}

.item__image-upload:hover {
    background-color: #eef3ff;
}

.item__file {
    display: none;
}

.image__preview img {
    max-width: 100%;
    max-height: 150px;
    margin-top: 10px;
    border-radius: 8px;
    object-fit: contain;
}

.item__url{
    font-size: 12px;
}

.image__preview {
    position: relative;
    margin-top: 10px;
}

.image__preview img {
    max-width: 100%;
    max-height: 150px;
    border-radius: 8px;
    object-fit: contain;
    display: block;
}

.remove-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #f00;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 3px 8px;
    cursor: pointer;
    font-size: 12px;
    transition: background 0.2s ease;
}

.remove-btn:hover {
    background-color: #f00;
}

/*----------------------------------------*/

.item__button{
    background-color: #5C6BC0;
    color: white;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.item__button:hover {
    background-color: #0056b3;
}

#mensaje {
    margin-top: 15px;
    text-align: center;
    color: green;
}